/* Styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

div {
    margin:none;
}

.herocontainer,
.navbar {
    background-color: #1F2937;
    color: #F9FAF8;
}

/* --------------------------------------------------------------------------------------------------------------- */

/* This is the container for the nav bar and logo - FLEX*/
.navbar {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items:center;
    padding: 0px 300px 100px 300px;
    margin: 0px;
}


.logo {
font-size: 24px;
display: inline;
font-weight:bold;
}


/* class for list of nav*/
.navlinks{
display: flex;
list-style: none;
font-size: 18px;
}

/* class for individual menu items */
.navitem a{
display:inline-block;
color: #E5E7EB;
padding: 10px;
text-decoration: none;
}

.navitem:hover a{
color:aqua;
}

/* ---------          hero section   ----------------------*/

/* This is the container for the hero text and image */
.herocontainer {
display:flex;
gap: 10px;
padding: 0px 400px 50px 400px;
}

/* ------------------------ */

.herotext {
flex-direction: column;
flex:1;

}

.herotext h1 {
font-size: 48px;
font-weight: bolder;

}

.herotext p {
font-size: 18px;
color:#E5E7EB;

}


.heroimg {
text-align: center;
height: 400px;
width: auto;
}

.button {
background-color: #3882F6;
border:none;
color: #E5E7EB;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size:20px ;
border-radius: 10px;
}

.button:hover {
    background-color:aqua;
}

/* ----------------- info section ---------------------------------*/

/* container for info section */

.infocontainer {
color:#1F2937;
display:flex;
justify-content: center;
column-gap: 50px;
padding-top: 15px;
padding-bottom: 15px;
}

.infocontainer h1 {
font-size: 36px;
font-weight: bolder;

}

.infocontainer h2 {
    font-size: 26px;
    font-weight: bolder;
    color: #3882F6;
    }

/* -------------------- */

.infobox {

width:200px;
height:auto;
justify-content: center;
flex-direction: column;
text-align: center;
}

.infobox img {
    width:200px;
    height:auto; 
    border: 3px solid #3882F6;
    padding: 10px;
    border-radius: 15%;
}

/* ------------ quote section ------------------ */

.quote {
display: flex;
background-color: #e5E7EB;
font-weight: lighter;
font-size: 36px;
color:#1f2937;
flex-direction: column;
justify-content: center;
text-align: center;
padding: 50px 400px 50px 400px;
margin:0px;
}

.quote h1 {
font-size: 30px ;
text-align: right;
}

/*  ------------ CTA Section ------------------- */

.ctacontainer {
background-color: #FFFFFF;
margin:100px 0px;
}

.ctabox {
background-color: #3882F6;
margin: 50px 300px;
color: #E5E7EB;
display: flex;
flex-direction: row;
justify-content: center;
padding: 50px;
border-radius: 10PX;
gap: 60px;
align-items: center;
}

.ctatext {
text-align: left;
}

.ctatext h1{ 
padding: 0px;
margin:0px;
font-size: 22px;
}

.ctatext p {
padding-top: 10px;
margin: 0px;
}

.ctabutton {
color: #FFFFFF;
background-color: #3882F6;
border:1px solid #ffffff;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size:20px ;
border-radius: 10px;
border-color: #ffffff;
}

.ctabutton:hover {
background-color: aqua;
}


/* ------ Footer ------- */

footer {
background-color: #1F2937;
color: #E5E7EB;
height: 80px;
width: 100%;
text-align: center;
line-height: 80px;
}   