/* Styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

div {
    margin:none;
}

.herocontainer,
.navbar {
    background-color: #1F2937;
    color: #F9FAF8;
}

/* --------------------------------------------------------------------------------------------------------------- */

/* This is the container for the nav bar and logo - FLEX*/
.navbar {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items:center;
    padding: 0px 300px 100px 300px;
    margin: 0px;
}


.logo {
font-size: 24px;
display: inline;
font-weight:bold;
}


/* class for list of nav*/
.navlinks{
display: flex;
list-style: none;
font-size: 18px;
}

/* class for individual menu items */
.navitem a{
display:inline-block;
color: #E5E7EB;
padding: 10px;
text-decoration: none;
}

.navitem:hover a{
color:aqua;
}

/* ---------          hero section   ----------------------*/

/* This is the container for the hero text and image */
.herocontainer {
    padding: 0px 300px 40px 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* ------------------------ */

.herotext {
   
}

.herotext h1 {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.herotext p {
    font-size: 18px;
    color:#E5E7EB;
    text-align: center;
}


.heroimg img {
    width: auto;
    height: 300px;


}

/* ----------------- info section ---------------------------------*/

/* container for info section */

.infocontainer {
color:#1F2937;
display:flex;
justify-content: center;
column-gap: 50px;
padding-top: 15px;
padding-bottom: 15px;
}

.infocontainer h1 {
font-size: 36px;
font-weight: bolder;

}

/* -------------------- */

.infobox {
display: inline-flexbox;
width:200px;
height:auto;
justify-content: center;
flex-direction: column;
text-align: center;
}

.infobox img {
    width:200px;
    height:auto; 
    border: 3px solid #3882F6;
    padding: 10px;
    border-radius: 15%;
}

